@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ClientDependency.Core.Mvc

@{
    Html.RequiresCss("~/dist/footer.css");
}

<section class="footer">

    <div class="footer-content">
        <div class="copyright">
            © @DateTime.Today.Year <a href="">Jakub Hromada</a>
        </div>
    </div>

</section>